@media screen and (max-width: 700px) {
    
    header .container{
        display: flex;
        flex-direction: column;
    }
    .botao{
        margin-top: 30px ;
        width: 150px;
    }
    .livro-principal .container{
        margin-top: 150px;
    }
}

@media screen and (min-width: 1000px) {
    .descricao{
        width: 50%;
    }
}